#root{
    ---darkblue:#0B2533;
    ---deepnavy:#031926;
    ---mediumteal:#468189;
    ---softteal:#77ACA2;
    ---mutedaqua:#9DBEBB;
    ---warmsand:#F4E9CD;
}

.dropdown{
    padding:5px;
}
.navbar-wrapper {
    background-color: var(---darkblue);
    color: var(---warmsand);
    z-index: 50;
    width: 100%;
}
.navbar {
    margin-top: 15px;
    border-radius: 30px;
    position: fixed;
    background-color: var(---softteal);
    color: var(---deepnavy);
    z-index: 50;
}
.indicator {
}

.indicator-item{
    background-color: transparent;
    border: none;
    color:var(---warmsand);

}
.btn:hover {
    background-color: var(---warmsand);
    color: var(---darkblue);
}
.btnD {
    border: none;
    outline: none;
    background-color: var(---warmsand);
    padding: 10px 20px;
    font-size: 12px;
    font-weight: 700;
    color: var(---darkblue);
    border-radius: 5px;
    transition: all ease 0.1s;
    box-shadow: 0px 5px 0px 0px var(---darkblue);
    margin: 5px;
}

.btnD:active {
    transform: translateY(5px);
    box-shadow: 0px 0px 0px 0px var(---deepnavy);
}


.user-icon{
    display: flex;
    align-items: center;
    justify-content: center;
}
.menu{
    background-color: var(---softteal);
    color: var(---darkblue);
    box-shadow: var(---warmsand)10px 10px;
    border: 1px solid var(---deepnavy);
}

.card{
    margin-top: 15px;
    background-color: var(---mutedaqua);
    color: var(---darkblue);
    box-shadow: var(---darkblue)10px 10px;
    border: 1px solid var(---deepnavy);
    width: 350px;
}
.card-body{
    display: flex;
    flex-direction: column;
}
.card-body li{
    display: flex;
    flex-direction: row;
}
.text-info{
    color: var(---darkblue);
}

.img{
    height: 80px;

}
