@import "tailwindcss";
@plugin "daisyui";

:root {
  font-family: system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;
  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
    ---darkblue:#0B2533;
    ---deepnavy:#031926;
    ---mediumteal:#468189;
    ---softteal:#77ACA2;
    ---mutedaqua:#9DBEBB;
    ---warmsand:#F4E9CD;
}

body {
  margin: 0;
  min-width: 320px;
  min-height: 100vh;
}
